<h2><%= @market.name %></h2>
<h3><%= @market.street %></h3>
<h3><%= @market.city %>, <%= @market.state %> <%= @market.zip %></h3>

<h3>Vendors at our Market:</h3>
<ul id='vendors'>
  <% @market.vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor.id), class: 'vendor' %></li>
  <% end %>
</ul>
