<h1>Song Title: <%= @song.title %></h1>
<p>Artist Name: <%= @song.artist.name %></p>

<h1>Title: <%= @song.title %></h1>
<p>Length: <%= @song.length %></p>
<p>Play Count: <%= @song.play_count %></p>
<%= link_to "Songs Index Page", songs_path %>
